language: cpp
sudo: false

compiler:
    - gcc
    - clang
addons:
    apt:
        sources: ubuntu-sdk-team
        packages:
            - qt5-qmake
            - qtbase5-dev
            - qtdeclarative5-dev
            - libqt5webkit5-dev
            - libsqlite3-dev
script:
    - qmake -qt=qt5
    - make
    - make PREFIX=$HOME install
